<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No</th>
      <th>Departs</th>
     
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over flights using forEach -->
    <% flights.forEach(p => { %>
      <tr>
        <td><%= p.airline %></td>
        <td><%= p.airport %></td>
        <td><%= p.flightNo %></td>
        <td><%= p.departs %></td>
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>

<%- include('../partials/header') %>