<%- include('../partials/header') %>
<div class="container-main">
<h3 align="center">Flight List</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No</th>
      <th>Departs</th>
     
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over flights using forEach -->
    <% flights.forEach(f => { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody> 
</table>
</div>
<%- include('../partials/footer') %>